.about-us {
    background-image: url(../assets/circle.png);
    background-repeat: no-repeat;
}

.about-us_description {
    flex-basis: calc(70% - 61px);
}

.about-us_free-offer {
    flex-basis: 30%;
    margin-top: 50px;
    padding: 30px 20px;
    background-color: $brandGrey;
    border-right: 1px solid $brandBlue;
    // a.action {
    //     position: relative;
    // }
    // // .fa-long-arrow-right,
    // a.action::before {
    //     content: url(../assets/blue-arrow.png);
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    // }
    // .fa-long-arrow-right {
    //     margin-top: 9px;
    // }
    p {
        margin-bottom: 25px;
    }
}