// About Us section styles
.about-us {
    background-image: url(../assets/circle.png);
    background-repeat: no-repeat;
}

.about-us_description {
    flex-basis: calc(70% - 61px);
}

.about-us_free-offer {
    flex-basis: 30%;
    margin-top: 50px;
    padding: 30px 30px;
    background-color: $brandGrey;
    border-right: 1px solid $brandBlue;
    p {
        margin-bottom: 25px;
    }
}