// About Us section description
.about-business_description {
    flex-basis: calc(60% - 30px);
    h2 {
        margin-bottom: 50px;
        &::after {
        content: url(../assets/blue-line.png);
        position: absolute;
        bottom: -30px;
        left: 0;
        }
    }
    .description {
        margin: 25px 0 0;
    }
}

.about-business_image {
    flex-basis: 40%;
}

.about-business {
    .grid {
        margin-bottom: 50px;
        .grid_option {
            border: 1px solid $brandGrey;
            padding: 35px 25px;
            display: flex;
            flex-direction: column;
            transition: all 0.5s;
            &:hover {
                border-left: 1px solid $brandBlue;
            }
            &:hover h4 {
                color: $brandBlue;
            }
            @media (max-width: 480px) {
                width: 100%;
            }
        }
    }
}

.option-header {
    display: flex;
    .option-header_img {
        flex-basis: calc(15% - 10px);
        margin-right: 10px;
    }
}