html {
    font-size: 10px;
}

p {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: $brandBlack;
    &:hover,
    &:focus {
        color: salmon;
    }
}

ul {
    list-style: none;
}

body {
    background-color: $brandWhite;
}

.wrapper {
    max-width: 1280px;
    width: 60%;
    margin: 0 auto;
}

// General Color & Fonts
.nav_column .fa {
    font-size: 1.6rem;
    color: $brandWhite;
    &:hover,
    &:focus {
        color: salmon;
    }
}

.colour-emphasize {
    color: $brandBlue;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

p.brand-logo {
    font-family: 'Playfair Display', serif;
}




// Remove input[type=submit] default browser styles
input[type=submit] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    padding: 15px;
}
