// Background behind top Nav Bar
.contact-menu {
    background-color: $brandGrey;
}

// Nav Bar containing contact information
.contact-menu_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 12.5px 0;
}

.contact-menu_contact-info,
.contact-menu_nav {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1300px) {
        flex-basis: 100%;
    }
    	@media (max-width: 940px) {}
        @media (max-width: 768px) {}
        @media (max-width: 480px) {}
}

.contact-menu_contact-info {
    flex-basis: 50%;
    @media (max-width: 1300px) {
        padding: 10px 0;
        flex-basis: 100%;
        justify-content: space-between;
    }
    @media (max-width: 768px) {
        display: none;
    }
    .contact-menu_contact-info_option {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-basis: calc(40% - 10px);
        flex-wrap: wrap;
        img {
            @media (max-width: 768px) {
                display: none;
            }
        }
        @media (max-width: 768px) {
                justify-content: flex-end;
                // color: $brandWhite;
                // background-color: $brandWhite;
        }
    }
}

.contact-menu_contact-info_option.large-column {
    flex-basis: calc(60% - 10px);
    @media (max-width: 1300px) {
        justify-content: flex-end;
    }
}

.contact-menu_nav {
    flex-basis: 30%;
    @media (max-width: 1300px) {
        flex-basis: 100%;
    }
    @media (max-width: 480px) {
        flex-direction: column;
    }

    .contact-menu_nav_language-pref,
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 22.5%;
        li a{
            font-size: 1.6rem;
        }
    }
    .contact-menu_nav_language-pref {
        position: relative;
        @media (max-width: 1300px) {
            flex-basis: 10%;
        }
        @media (max-width: 550px) {
            order: 1;
        }
        @media (max-width: 480px) {
            flex-basis: 100%;
            justify-content: flex-end;
            margin-right: 10px;
        }
    }
}

.chineese-option {
    min-width: 19px;
}

.fa.fa-caret-down {
    position: absolute;
    bottom: 5px;
    right: -10px;
    font-size: 1.2rem;
    color: $brandDarkGrey;
}

.contact-menu_nav {
    ul {
        flex-basis: 60%;
        @media (max-width: 768px) {
            flex-basis: 50%;
        }
        li a {
            color: $brandBlack;
            &:hover,
            &:focus {
                border-bottom: 1px solid $brandBlue;
            }
        }
    }
}



// Nav Bar company information
.company-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px 0;
    @media (max-width: 550px) {
        flex-direction: column;
    }
    .company-info_column {
        flex-basis: 25%;
        display: flex;
        align-items: center;
        img {
            max-width: 50px;
        }
        @media (max-width: 1300px) {
            flex-basis: 50%;
            justify-content: flex-start;
        }
        @media (max-width: 550px){
            margin-bottom: 25px;
        }
    }
    .company-info_column:first-child {
        flex-basis: calc(30% - 10px);
        margin-right: 10px;
        @media (max-width: 1300px) {
            order: -2;
            flex-basis: 50%;
            margin-right: 0;
        }
    }

    .company-info_column:nth-child(3) {
        @media (max-width: 1300px) {
            justify-content: flex-end;
        }
    }

    .company-info_column:last-child {
        flex-basis: 20%;
        @media (max-width: 1300px) {
            order: -1;
            flex-basis: 50%;
            justify-content: flex-end;
        }
    }
}

.brand-logo {
        // float: left;
        // width: 25%;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 5px;
}

// p.brand-logo {
//         font-size: 3.2rem;
// }
.company-info_column_image {
        float: left;
        margin-right: 15px;
        img {
            min-width: 50px;
        }
    }

.company-info_column:first-child {
.company-info_column_description{
    float: left;
    // margin-top: 20px;
    p.brand-logo {
        font-size: 3.2rem;
}
}
}

.company-info_column_description {
    float: left;
    p:first-child{
        font-size: 1.8rem;
    }
    p {
        @media (max-width: 550px){
            float: left;
            margin-right: 15px;
        }
    }
}

// .company-info_column_description + p {
//     font-size: 1.8rem;
// }

.consultation-button {
    text-transform: uppercase;
    padding: 20px 30px;
    border: 2px solid $brandBlue;
    // border-bottom-right-radius: 0;
    // border-top-left-radius: 0;
    transition: 0.3s;
    &:hover,
    &:focus {
        color: $brandWhite;
        background-color: $brandBlue;
        // padding: 11px 16px;
        // border-top-left-radius: 25%;
    }
}

// Main Nav Bar
.nav-bar {
    background-color: $brandBlue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    @media (max-width: 1300px) {
        flex-direction: column;
    }
    ul {
        display: flex;
        justify-content: space-between;
        li:not(:last-child) {
            text-transform: uppercase;
        }
    }
}

.responsive_nav{
    flex-basis: 50%;
    @media (max-width: 1300px) {
        width: 100%;
        margin-bottom: 15px;
    }
    ul {
        @media (max-width: 550px) {
            flex-direction: column;
            text-align: center;
        }
    }
}

.shopping_cart {
    flex-basis: 12%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        max-width: 40px;
    }
    @media (max-width: 1300px) {
        width: 60%;
    }
}

.nav_column:last-child {
    flex-basis: 20%;
    @media (max-width: 1300px) {
        width: 50%;
    }
}

// Header Content
.header-content {
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(../assets/header-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 85vh;
    position: relative;
    display: flex;
    align-items: center;
    @media (max-width: 1300px) {
        align-items: flex-start;
    }
    .carousel-control-previous,
    .carousel-control-next {
        position: absolute;
        @media (max-width: 1300px){
            display: none;
        }
    }
    .carousel-control-previous {
        left: 25px;
    }
    .carousel-control-next {
        right: 25px;
    }
}

.header-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    // align-items: center;
    @media (max-width: 1300px) {
        align-items: center;
        text-align: center;
        // height: 100vh;
        margin-top: 25px;
    } 
    h1,
    >p {
        width: 60%;
        @media (max-width: 768px) {
            width: 80%;
        }
        @media (max-width: 480px) {
            width: 95%;
        }
    }
    >p {
        @include paragraph(1.8rem, $brandWhite);
        @media (max-width: 940px) {
            font-sixe: 1.6rem;
        }
    }
}

.fa.fa-angle-left,
.fa.fa-angle-right {
    padding: 16px 22px;
    color: $brandWhite;
    background-color: rgba(126,146,178,0.8);
    border-radius: 50%;
    &:hover {
        background-color: rgba(255,255,255,0.4);
    }
}

.fa.fa-angle-right {
    background-color: $brandBlue;
}


// Hamburger Menu
input[type="checkbox"] {
    display: none;
}

// input[type='checkbox']:checked + .nav_column ul{
// 			top:0;
// }
        
label {display: none;
@media (max-width: 550px) {
        display: block;
    }}
// .fa.fa-bars{
//     // visibility: hidden;
//     display: none;
//     @media (max-width: 480px) {
//         display: block;
//     }
// }

.fa.fa-bars {
    font-size: 3rem;
    color: $brandWhite;
}

ul.target {
    position: relative;
    transition: all 0.5s ease-in;
}
ul.target {
    @media (max-width: 550px) {
        visibility: hidden;
        // display: none;
        opacity: 0;
        top: -10px;
        flex-direction: column;
        text-align: center;
        margin-bottom: 15px;
        height: 0;
    }
    
}

.target.visibility {
    visibility: visible;
    // display: block;
    opacity: 1;
    top: 15px;
    height: 250px;
}

.shopping_cart {
    @media (max-width: 550px) {
    display: none;
    }
}