// Background behind top Nav Bar
.contact-menu {
    background-color: $brandGrey;
}

// Nav Bar containing contact information
.contact-menu_container {
    display: flex;
    justify-content: space-between;
}

.contact-menu_contact-info,
.contact-menu_nav {
    display: flex;
    justify-content: flex-start;
}

.contact-menu_contact-info {
    flex-basis: calc(100% / 3 * 2);
    .contact-menu_contact-info_option {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.contact-menu_nav {
    flex-basis: calc(100% / 3);
    .contact-menu_nav_language-pref,
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

// Nav Bar company information
.company-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .brand-logo {
        font-weight: 700;
        font-size: 3.2rem;
    }
    .company-info_column {
        flex-basis: 20%;
        display: flex;
        align-items: center;
    }
    .company-info_column:nth-child(1) {
        flex-basis: calc(30% - 50px);
        margin-right: 50px;
    }
}

.consultation-button {
    text-transform: uppercase;
    padding: 10px 15px;
    border: 2px solid $brandBlue;
    // border-bottom-right-radius: 0;
    // border-top-left-radius: 0;
    transition: 0.3s;
    &:hover,
    &:focus {
        color: $brandWhite;
        background-color: $brandBlue;
        padding: 12px 17px;
        // border-top-left-radius: 25%;
    }
}

// Main Nav Bar
.nav-bar {
    background-color: $brandBlue;
    display: flex;
    justify-content: space-between;
    ul {
        display: flex;
        justify-content: space-around;
    }
}

// Header Content
.header-content {
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(../assets/header-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 85vh;
    position: relative;
    display: flex;
    align-items: center;
    .carousel-control,
    .carousel-control {
        position: absolute;
    }
    .carousel-control-previous {
        left: 25px;
    }
    .carousel-control-next {
        right: 25px;
    }
}

.header-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    h1,
    p {
        width: 91%;
    }
    p {
        @include paragraph(1.6rem, $brandWhite);
    }
}

.fa-chevron-left,
.fa-chevron-right {
    padding: 20px 21.4px;
    background-color: $brandDarkGrey;
    border-radius: 50%;
}