// Our Services section styles
.our-services {
    background-color: $brandGrey;
    background-image: url(../assets/reversed-circle.png);
    background-repeat: no-repeat;
    background-position: bottom 10px right;
    h2::after {
        content: url(../assets/blue-line.png);
        position: absolute;
        bottom: -15px;
        right: 45%;
        }
    .grid_option {
        background-color: $brandWhite;
        padding: 75px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 1.2s;
        border: 1px solid $brandWhite;
        &:hover {
            transform: scale(1.1);
            border: 1px solid $brandBlue;
            background-color: rgba(42,134,250,0.4);
        }
        &:hover  p {
            color: $brandWhite;
        }
        @media (max-width: 480px) {
            &:hover {
                transform: none;
            }
        }
        .grid_option_name {
            margin-bottom: 25px;
            @include paragraph(2.2rem, $brandBlack);

            @media (max-width: 768px) {
                @include paragraph(2rem, $brandBlack);
            }
        }
        img {
            margin-bottom: 15px;
            max-height: 46px;
        }
        p {
            text-align: center;
        }
    }
}