.options-container_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    .introduction {
        flex-basis: 80%;
        font-weight: 400;
    }
    .action {
        padding: 0;
    }
}