// Portfolio section styles
.options-container_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    @media (max-width: 940px) {
        flex-direction: column;
    }
    .introduction {
        flex-basis: 80%;
        font-weight: 400;
    }
    a.action::before {
        top: 8px;
    }
}

.portfolio {
    .options-container_header::after {
        content: 'P';
        color: $brandGrey;
    }
    h2::after {
        content: url(../assets/blue-line.png);
        position: absolute;
        bottom: -15px;
        right: 45%;
    }
}
