.statistics {
    background-color: $statisticsBackground;
    display: flex;
    .statistics_example {
        flex-basis: 25%;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img {
            max-width: 50px;
        }
        .accomplishment {
            color: $brandWhite;
            @include paragraph(2rem, $brandWhite);
            margin: 20px 0;
        }
        .numbers {
            font-size: 4rem;
            font-weight: 700;
            font-family: 'Poppins', sans-serif;
        }
    }
}