article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, p, a, ul {
  margin: 0;
  padding: 0; }

img {
  width: 100%;
  display: block; }

html {
  font-size: 10px; }

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  letter-spacing: 0.8px;
  font-size: 7rem;
  color: #fcfcfc; }
  @media (max-width: 940px) {
    h1 {
      font-size: 4rem; } }
  @media (max-width: 480px) {
    h1 {
      font-size: 3rem; } }

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  letter-spacing: 0.8px;
  font-size: 4.5rem;
  color: #222222;
  position: relative; }

.options-container_header::after {
  content: 'S';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  letter-spacing: 0.8px;
  font-size: 20rem;
  color: #fcfcfc;
  z-index: 0;
  line-height: 1;
  bottom: -50px; }

h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  letter-spacing: 0.8px;
  font-size: 1.8rem;
  color: #222222;
  margin-bottom: 30px; }

p {
  font-size: 1.6rem; }

a {
  text-decoration: none;
  color: #222222; }
  a:hover, a:focus {
    color: salmon; }

ul {
  list-style: none; }
  ul li a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.2px;
    font-size: 1.8rem;
    color: #fcfcfc; }

body {
  background-color: #fcfcfc;
  font-size: 1.6rem; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto; }
  @media (max-width: 1300px) {
    .wrapper {
      width: 95%; } }
  @media (max-width: 940px) {
    .wrapper {
      width: 80%; } }
  @media (max-width: 768px) {
    .wrapper {
      width: 90%; } }
  @media (max-width: 480px) {
    .wrapper {
      width: 95%; } }

.nav_column .fa {
  font-size: 1.7rem;
  color: #fcfcfc; }
  .nav_column .fa:hover, .nav_column .fa:focus {
    color: salmon; }

.colour-emphasize {
  color: #2a86fa; }

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.2px;
  font-size: 1.6rem;
  color: #222222; }

p.brand-logo {
  font-family: 'Playfair Display', serif; }

input,
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  padding: 10px 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

input[type=submit],
button {
  width: 200px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.2px;
  font-size: 1.6rem;
  color: #fcfcfc;
  background-color: #2a86fa;
  border: 1px solid #2a86fa; }

button:hover {
  background-color: #fcfcfc;
  border: 1px solid #2a86fa; }
  button:hover p,
  button:hover .fa.fa-long-arrow-right {
    color: #2a86fa; }

button p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.2px;
  font-size: 1.6rem;
  color: #fcfcfc; }

input[type=email] {
  background-color: #2c2b2b;
  max-width: 300px;
  width: 75%;
  padding: 14px 15px;
  float: left; }

.article-container {
  margin: 75px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .article-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .article-container .header-description {
    margin-bottom: 25px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 0.8px;
    font-size: 2rem;
    color: #2a86fa; }
  .article-container .description {
    margin: 50px 0; }

.action {
  padding: 10px 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.2px;
  font-size: 1.8rem;
  color: #2a86fa; }
  .action .fa.fa-long-arrow-right,
  .action p {
    float: left;
    width: calc(95% - 5px); }
  .action .fa.fa-long-arrow-right {
    color: #fcfcfc;
    width: 5%;
    margin: 8px 5px 0 0; }

.options-container {
  padding: 75px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center; }
  .options-container .options-container_header {
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    z-index: 0; }
    .options-container .options-container_header .header-description,
    .options-container .options-container_header h2 {
      position: relative;
      z-index: 2; }
    .options-container .options-container_header .header-description {
      margin-bottom: 10px;
      font-family: 'Playfair Display', serif;
      font-weight: 700;
      letter-spacing: 0.8px;
      font-size: 2rem;
      color: #222222; }

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 480px) {
    .grid {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .grid .grid_option {
    -ms-flex-preferred-size: calc(100% / 3 - 20px);
    flex-basis: calc(100% / 3 - 20px);
    margin-bottom: 30px; }
    @media (max-width: 480px) {
      .grid .grid_option p {
        text-align: center; } }
    @media (max-width: 768px) {
      .grid .grid_option {
        -ms-flex-preferred-size: calc(50% - 10px);
        flex-basis: calc(50% - 10px); } }
    @media (max-width: 480px) {
      .grid .grid_option {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 25px; } }

.introduction, .news .grid_option p.colour-emphasize:not(.date) {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2; }

.icon {
  margin-right: 10px; }

a.action {
  position: relative; }

a.action::before {
  content: url(../assets/blue-arrow.png);
  position: absolute;
  left: 0;
  top: 0; }

.contact-menu {
  background-color: #f3f3f3; }

.contact-menu_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 12.5px 0; }

.contact-menu_contact-info,
.contact-menu_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 1300px) {
    .contact-menu_contact-info,
    .contact-menu_nav {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }

.contact-menu_contact-info {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }
  @media (max-width: 1300px) {
    .contact-menu_contact-info {
      padding: 10px 0;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media (max-width: 768px) {
    .contact-menu_contact-info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .contact-menu_contact-info .contact-menu_contact-info_option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: calc(40% - 10px);
    flex-basis: calc(40% - 10px);
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media (max-width: 768px) {
      .contact-menu_contact-info .contact-menu_contact-info_option {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; } }

.contact-menu_contact-info_option.large-column {
  -ms-flex-preferred-size: calc(60% - 10px);
  flex-basis: calc(60% - 10px); }
  @media (max-width: 1300px) {
    .contact-menu_contact-info_option.large-column {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; } }

.contact-menu_nav {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%; }
  @media (max-width: 1300px) {
    .contact-menu_nav {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }
  @media (max-width: 480px) {
    .contact-menu_nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .contact-menu_nav .contact-menu_nav_language-pref,
  .contact-menu_nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 22.5%;
    flex-basis: 22.5%; }
    .contact-menu_nav .contact-menu_nav_language-pref li a,
    .contact-menu_nav ul li a {
      font-size: 1.6rem; }
  .contact-menu_nav .contact-menu_nav_language-pref {
    position: relative; }
    @media (max-width: 1300px) {
      .contact-menu_nav .contact-menu_nav_language-pref {
        -ms-flex-preferred-size: 10%;
        flex-basis: 10%; } }
    @media (max-width: 480px) {
      .contact-menu_nav .contact-menu_nav_language-pref {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin-right: 10px; } }

.chineese-option {
  min-width: 19px; }

.fa.fa-caret-down {
  position: absolute;
  bottom: 5px;
  right: -10px;
  font-size: 1.2rem;
  color: #6f6f6f; }

.contact-menu_nav ul {
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%; }
  @media (max-width: 768px) {
    .contact-menu_nav ul {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; } }
  .contact-menu_nav ul li a {
    color: #222222; }
    .contact-menu_nav ul li a:hover, .contact-menu_nav ul li a:focus {
      border-bottom: 1px solid #2a86fa; }

.company-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 25px 0; }
  @media (max-width: 550px) {
    .company-info-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .company-info-container .company-info_column {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .company-info-container .company-info_column img {
      max-width: 50px; }
    @media (max-width: 1300px) {
      .company-info-container .company-info_column {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; } }
    @media (max-width: 550px) {
      .company-info-container .company-info_column {
        margin-bottom: 25px; } }
  .company-info-container .company-info_column:first-child {
    -ms-flex-preferred-size: calc(30% - 10px);
    flex-basis: calc(30% - 10px);
    margin-right: 10px; }
    @media (max-width: 1300px) {
      .company-info-container .company-info_column:first-child {
        -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
        order: -2;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        margin-right: 0; } }
  @media (max-width: 1300px) {
    .company-info-container .company-info_column:nth-child(3) {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; } }
  .company-info-container .company-info_column:last-child {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%; }
    @media (max-width: 1300px) {
      .company-info-container .company-info_column:last-child {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; } }

.brand-logo {
  font-weight: 700;
  line-height: 1;
  margin-bottom: 5px; }

.company-info_column_image {
  float: left;
  margin-right: 15px; }
  .company-info_column_image img {
    min-width: 50px; }

.company-info_column:first-child .company-info_column_description {
  float: left; }
  .company-info_column:first-child .company-info_column_description p.brand-logo {
    font-size: 3.2rem; }

.company-info_column_description {
  float: left; }
  .company-info_column_description p:first-child {
    font-size: 1.8rem; }
  @media (max-width: 550px) {
    .company-info_column_description p {
      float: left;
      margin-right: 15px; } }

.consultation-button {
  text-transform: uppercase;
  padding: 20px 30px;
  border: 2px solid #2a86fa;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .consultation-button:hover, .consultation-button:focus {
    color: #fcfcfc;
    background-color: #2a86fa; }

.nav-bar {
  background-color: #2a86fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 25px; }
  @media (max-width: 1300px) {
    .nav-bar {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .nav-bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .nav-bar ul li:not(:last-child) {
      text-transform: uppercase; }

.nav_column:first-child {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }
  @media (max-width: 1300px) {
    .nav_column:first-child {
      width: 100%;
      margin-bottom: 15px; } }
  @media (max-width: 550px) {
    .nav_column:first-child ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center; } }

.nav_column:nth-child(2) {
  -ms-flex-preferred-size: 12%;
  flex-basis: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav_column:nth-child(2) img {
    max-width: 40px; }
  @media (max-width: 1300px) {
    .nav_column:nth-child(2) {
      width: 60%; } }

.nav_column:last-child {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%; }
  @media (max-width: 1300px) {
    .nav_column:last-child {
      width: 50%; } }

.header-content {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../assets/header-background.jpg);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/header-background.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/header-background.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/header-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 85vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 1300px) {
    .header-content {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; } }
  .header-content .carousel-control-previous,
  .header-content .carousel-control-next {
    position: absolute; }
    @media (max-width: 1300px) {
      .header-content .carousel-control-previous,
      .header-content .carousel-control-next {
        display: none; } }
  .header-content .carousel-control-previous {
    left: 25px; }
  .header-content .carousel-control-next {
    right: 25px; }

.header-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 60vh; }
  @media (max-width: 1300px) {
    .header-content-container {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      margin-top: 25px; } }
  .header-content-container h1,
  .header-content-container > p {
    width: 60%; }
    @media (max-width: 768px) {
      .header-content-container h1,
      .header-content-container > p {
        width: 80%; } }
    @media (max-width: 480px) {
      .header-content-container h1,
      .header-content-container > p {
        width: 95%; } }
  .header-content-container > p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.2px;
    font-size: 1.8rem;
    color: #fcfcfc; }
    @media (max-width: 940px) {
      .header-content-container > p {
        font-sixe: 1.6rem; } }

.fa.fa-angle-left,
.fa.fa-angle-right {
  padding: 16px 22px;
  color: #fcfcfc;
  background-color: rgba(126, 146, 178, 0.8);
  border-radius: 50%; }
  .fa.fa-angle-left:hover,
  .fa.fa-angle-right:hover {
    background-color: rgba(255, 255, 255, 0.4); }

.fa.fa-angle-right {
  background-color: #2a86fa; }

.about-us {
  background-image: url(../assets/circle.png);
  background-repeat: no-repeat; }

.about-us_description {
  -ms-flex-preferred-size: calc(70% - 61px);
  flex-basis: calc(70% - 61px); }

.about-us_free-offer {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  margin-top: 50px;
  padding: 30px 30px;
  background-color: #f3f3f3;
  border-right: 1px solid #2a86fa; }
  .about-us_free-offer p {
    margin-bottom: 25px; }

.our-services {
  background-color: #f3f3f3;
  background-image: url(../assets/reversed-circle.png);
  background-repeat: no-repeat;
  background-position: bottom 10px right; }
  .our-services h2::after {
    content: url(../assets/blue-line.png);
    position: absolute;
    bottom: -15px;
    right: 45%; }
  .our-services .grid_option {
    background-color: #fcfcfc;
    padding: 75px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 1.2s;
    -o-transition: 1.2s;
    transition: 1.2s;
    border: 1px solid #fcfcfc; }
    .our-services .grid_option:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      border: 1px solid #2a86fa;
      background-color: rgba(42, 134, 250, 0.4); }
    .our-services .grid_option:hover p {
      color: #fcfcfc; }
    @media (max-width: 480px) {
      .our-services .grid_option:hover {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none; } }
    .our-services .grid_option .grid_option_name {
      margin-bottom: 25px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      line-height: 2;
      letter-spacing: 0.2px;
      font-size: 2.2rem;
      color: #222222; }
      @media (max-width: 768px) {
        .our-services .grid_option .grid_option_name {
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: 400;
          line-height: 2;
          letter-spacing: 0.2px;
          font-size: 2rem;
          color: #222222; } }
    .our-services .grid_option img {
      margin-bottom: 15px;
      max-height: 46px; }
    .our-services .grid_option p {
      text-align: center; }

.about-business_description {
  -ms-flex-preferred-size: calc(60% - 30px);
  flex-basis: calc(60% - 30px); }
  .about-business_description h2 {
    margin-bottom: 50px; }
    .about-business_description h2::after {
      content: url(../assets/blue-line.png);
      position: absolute;
      bottom: -30px;
      left: 0; }
  .about-business_description .description {
    margin: 25px 0 0; }

.about-business_image {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%; }

.about-business .grid {
  margin-bottom: 50px; }
  .about-business .grid .grid_option {
    border: 1px solid #f3f3f3;
    padding: 35px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .about-business .grid .grid_option:hover {
      border-left: 1px solid #2a86fa; }
    .about-business .grid .grid_option:hover h4 {
      color: #2a86fa; }
    @media (max-width: 480px) {
      .about-business .grid .grid_option {
        width: 100%; } }

.option-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .option-header .option-header_img {
    -ms-flex-preferred-size: calc(15% - 10px);
    flex-basis: calc(15% - 10px);
    margin-right: 10px; }

.statistics {
  background-color: #191e24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 480px) {
    .statistics {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .statistics .statistics_example {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .statistics .statistics_example {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%; } }
    .statistics .statistics_example img {
      max-width: 50px; }
    .statistics .statistics_example .accomplishment {
      color: #fcfcfc;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      line-height: 2;
      letter-spacing: 0.2px;
      font-size: 2.2rem;
      color: #fcfcfc;
      margin: 20px 0; }
    .statistics .statistics_example .numbers {
      font-size: 4.4rem;
      font-weight: 700;
      font-family: 'Poppins', sans-serif; }

.options-container_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 60px; }
  @media (max-width: 940px) {
    .options-container_info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .options-container_info .introduction, .options-container_info .news .grid_option p.colour-emphasize:not(.date), .news .grid_option .options-container_info p.colour-emphasize:not(.date) {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    font-weight: 400; }
  .options-container_info a.action::before {
    top: 8px; }

.portfolio .options-container_header::after {
  content: 'P';
  color: #f3f3f3; }

.portfolio h2::after {
  content: url(../assets/blue-line.png);
  position: absolute;
  bottom: -15px;
  right: 45%; }

.testimonials {
  background-color: #2a86fa;
  padding: 75px 0; }
  .testimonials .article-container {
    margin: 0; }
    @media (max-width: 768px) {
      .testimonials .article-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }

.testimonials_image {
  width: 400px;
  margin-right: 30px; }
  @media (max-width: 768px) {
    .testimonials_image {
      margin: 0; } }

.testimonials_content {
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  text-align: center;
  padding: 10px 0; }
  .testimonials_content p {
    color: #fcfcfc; }
  .testimonials_content .introduction, .testimonials_content .news .grid_option p.colour-emphasize:not(.date), .news .grid_option .testimonials_content p.colour-emphasize:not(.date) {
    margin-bottom: 75px;
    font-size: 2.1rem;
    position: relative; }
    @media (max-width: 940px) {
      .testimonials_content .introduction, .testimonials_content .news .grid_option p.colour-emphasize:not(.date), .news .grid_option .testimonials_content p.colour-emphasize:not(.date) {
        font-size: 1.5rem;
        margin-bottom: 15px; } }
  .testimonials_content .introduction:nth-child(1):after, .testimonials_content .news .grid_option p.colour-emphasize:not(.date):nth-child(1):after, .news .grid_option .testimonials_content p.colour-emphasize:not(.date):nth-child(1):after {
    content: url(../assets/white-line.png);
    position: absolute;
    bottom: -60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    @media (max-width: 940px) {
      .testimonials_content .introduction:nth-child(1):after, .testimonials_content .news .grid_option p.colour-emphasize:not(.date):nth-child(1):after, .news .grid_option .testimonials_content p.colour-emphasize:not(.date):nth-child(1):after {
        bottom: -15px; } }
    @media (max-width: 768px) {
      .testimonials_content .introduction:nth-child(1):after, .testimonials_content .news .grid_option p.colour-emphasize:not(.date):nth-child(1):after, .news .grid_option .testimonials_content p.colour-emphasize:not(.date):nth-child(1):after {
        display: none; } }
  .testimonials_content .name.introduction, .testimonials_content .news .grid_option p.name.colour-emphasize:not(.date), .news .grid_option .testimonials_content p.name.colour-emphasize:not(.date) {
    font-size: 2.2rem;
    margin-bottom: 5px; }

.carousel-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 75px; }

.carousel-control {
  background-color: #307ad6;
  height: 14px;
  width: 26px;
  border-radius: 35%; }
  .carousel-control:hover {
    background-color: #fcfcfc; }

.carousel-control:nth-child(2) {
  margin: 0 15px; }

.news-image {
  max-width: 350px;
  position: relative;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
  .news-image figcaption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(61, 143, 247, 0.8)), to(rgba(61, 143, 247, 0.8)));
    background: -webkit-linear-gradient(rgba(61, 143, 247, 0.8), rgba(61, 143, 247, 0.8));
    background: -o-linear-gradient(rgba(61, 143, 247, 0.8), rgba(61, 143, 247, 0.8));
    background: linear-gradient(rgba(61, 143, 247, 0.8), rgba(61, 143, 247, 0.8));
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
    .news-image figcaption img {
      max-width: 30px; }
  .news-image:hover figcaption {
    visibility: visible;
    opacity: 1; }

.news .options-container_info {
  margin-bottom: 90px; }

.news .options-container_header::after {
  content: 'B';
  color: #f3f3f3; }

.news h2::after {
  content: url(../assets/blue-line.png);
  position: absolute;
  bottom: -15px;
  right: 45%; }

.news .grid_option p {
  margin-top: 20px; }

.news .grid_option p.colour-emphasize:not(.date) {
  font-weight: 600; }

.brand-belt {
  background-color: #2a86fa;
  padding: 100px 0;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }
  @media (max-width: 480px) {
    .brand-belt .grid {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .brand-belt .brand-name {
    margin-bottom: 25px; }
    @media (max-width: 480px) {
      .brand-belt .brand-name img {
        max-width: 128px; } }

footer {
  background-color: #1a1a1a; }
  footer .grid {
    margin-bottom: 50px; }
  @media (max-width: 480px) {
    footer li {
      text-align: center; } }
  footer li a:hover, footer li a:focus {
    color: #2a86fa; }
  footer .action::before {
    content: url(../assets/short-white-arrow.png);
    position: relative;
    right: 25px; }
  footer p,
  footer li a {
    font-size: 1.6rem;
    color: #797979; }
  footer .contact-details {
    background-color: #2c2b2b;
    padding: 20px 0;
    position: relative;
    top: -50px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-shadow: 0 35px 0 -15px #3f3e3e;
    box-shadow: 0 35px 0 -15px #3f3e3e; }
    footer .contact-details .grid_option {
      margin: 0; }
      @media (max-width: 480px) {
        footer .contact-details .grid_option {
          margin-bottom: 35px; } }

.footer_contact-details_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .footer_contact-details_option .icon {
    margin-right: 15px; }
  .footer_contact-details_option p {
    color: #fcfcfc; }

.footer-column .company-info_column {
  clear: both;
  margin-bottom: 25px; }

.footer-column p.introduction, .footer-column .news .grid_option p.colour-emphasize:not(.date), .news .grid_option .footer-column p.colour-emphasize:not(.date) {
  font-size: 1.5rem;
  margin-bottom: 30px; }

footer .company-info_column .brand-logo {
  color: #fcfcfc; }

footer .footer-column.grid_option {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%; }
  @media (max-width: 940px) {
    footer .footer-column.grid_option {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; } }
  @media (max-width: 480px) {
    footer .footer-column.grid_option {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }

footer .grid_option:nth-child(1) {
  -ms-flex-preferred-size: 33.3%;
  flex-basis: 33.3%; }
  @media (max-width: 940px) {
    footer .grid_option:nth-child(1) {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }

footer .grid_option:nth-child(3) p.introduction.colour-emphasize, footer .news .grid_option:nth-child(3) p.colour-emphasize:not(.date), .news footer .grid_option:nth-child(3) p.colour-emphasize:not(.date) {
  margin-bottom: 15px; }

footer .grid_option:nth-child(3) p.date {
  margin-bottom: 50px; }

.footer-company-description {
  margin-bottom: 50px; }

.footer-header {
  color: #fcfcfc;
  margin-bottom: 50px; }

p.introduction.footer-header, .news .grid_option p.footer-header.colour-emphasize:not(.date) {
  font-size: 1.8rem; }

.copyright-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #323030;
  padding: 25px 0; }
  @media (max-width: 768px) {
    .copyright-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .copyright-container .footer_social-media {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%; }
    .copyright-container .footer_social-media ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }

.icon-container {
  min-height: 48px;
  background-color: #2a86fa;
  border-radius: 20px;
  float: left;
  position: relative;
  right: 30px;
  width: 25%;
  max-width: 88px; }

.fa.fa-paper-plane-o {
  font-size: 1.8rem;
  color: #fcfcfc;
  padding: 15px 0 10px;
  left: 50%;
  position: relative;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .fa.fa-paper-plane-o:hover, .fa.fa-paper-plane-o:focus {
    color: salmon; }
